*{
    font-family: lato,Helvetica,Arial,sans-serif;
}

#menu{
    position: absolute;
    max-width: 100%;
    width:100%;
    height: 100px;
    background-color: black;
    color:white;
    text-decoration: none;
}

#menu img{
    margin:5px;
}

a{
    text-decoration: none;
    color:white;
}

.pages{
    float:right;
    margin:40px;
}

a:hover{
    transform:scale(1.05);
    color:grey;
}

.cell{
    width:30%;
    height:50%;
    border-style: solid;
    position:relative;
    float:left;
    top:50px;
    margin:15px;
}

#content{
    position:absolute;
    width:85%;
    left:7.5%;
    height:100%;
    top:200px;
}


input[type='radio'] { 

  background: white;
  width: 16px;
  height: 16px;
  transform: scale(1.4);
  margin-left:20px;
}

label{
    margin-left: 5px;
}

input[type='radio']:checked {
    background: #333;
}

input[type='radio']:hover {
    transform: scale(1.4);
}

